<hr>
  <div class="uppernav">
    <button type="button" name="button"><%= link_to "Create Post", new_post_path %></button>
  </div>
<hr>

<h1>About This Blog</h1>
<p>As a user you have the priviledge to write your developer stories and hare with the world.</p>
