<h1>About This Blog</h1>
<p>As a user you have the priviledge to write your developer stories and hare with the world.</p>
<button type="button" name="button"><%= link_to 'Home', root_path %></button>
<button type="button" name="button"><%= link_to 'Contact Us', contact_path %></button>
