<hr>
  <div class="uppernav">
    <button type="button" name="button"><%= link_to "Create Post", new_post_path %></button>
  </div>
<hr>
<h2>Soorry no office yet</h2>
<p>We are building this in the <strong>Garage</strong></p>
<p>You can just drop an email :</p>
<p>                            <em>zunguzirametsi@gmail.com</em></p>
