<h2>Soorry no office yet</h2>
<p>We are building this in the <strong>Garage</strong></p>
<p>You can just drop an email :</p>
<p>                            <em>zunguzirametsi@gmail.com</em></p>
<hr>
<%= link_to "Home", root_path %>
<%= link_to "About Us", about_path %>
<hr>
