
<hr>
  <div class="uppernav">
    <button type="button" name="button"><%= link_to "Create Post", new_post_path %></button>
  </div>
<br>
<div class="jumbotron">
  <h1>Welcome to HutofCode Blog</h1>
  <p>This is a multi-user blog where users get to share their coding stories with the community</p>
  <%= link_to image_tag('friends circle.jpg', alt: "friends image"), about_path %>
</div>

<div class="steps">
  <h2>Steps to get Started</h2>
  <ol>
    <li>Sign up for free</li>
    <li>Access your Dashboard</li>
    <li>Start writing articles and start sharing with the world</li>
  </ol>

</div>
<div class="calltoaction">
  <button type="button" name="button"><%= link_to 'Get Started Now', new_post_path %></button>
</div>
