<h1>Listing all posts</h1>
<div class="">
  <table class="table table-striped">
    <% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= post.content.truncate(50) %></td>
      <td>
        <tr>
          <td>Created by Munetsi</td>
        </tr>
        <tr>
          <td></td>
        </tr>
      </td>
    </tr>
    <% end %>
  </table>
</div>
